.icon > svg { display: inline-block; width: 16px; height: 16px; vertical-align: middle; }
.icon > svg path { fill: #999; }

.social-media-list {
    list-style: circle;
}

/**
 * Posts
 */
.post-list {
  margin-left: 0;
  list-style: none; }

.post-list > li {
  margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block; }

.post-header {
  margin-bottom: 30px; }

.post-title {
  display: block; }

.post-content {
  margin-bottom: 30px; }

/**
 * Links
 */
a {
  color: #ac4142;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #742c2d;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
