.icon > svg { display: inline-block; width: 16px; height: 16px; vertical-align: middle; }
.icon > svg path { fill: #999; }

.social-media-list {
    list-style: circle;
    margin-left: 1em;
    margin-right: 1em;
}

/**
 * Posts
 */
.post-list {
  margin-left: 0;
  list-style: none; }

.post-list > li {
  margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block; }

.post-header {
  margin-bottom: 30px; }

.post-title {
  display: block; }

.post-content {
  margin-bottom: 30px; }

