/*
 * Bootstrap starter template
 */
body {
  min-height: 750px;
}
.navbar-static-top {
  margin-bottom: 19px;
}
.starter-template {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 970px;
}
