---
layout: default
title: Categories
permalink: /blog/categories/
---

<div class="categories-main categories-content">

  <div class="post">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <header class="post-header">
          <h1 class="post-title">Posts by category</h1>
        </header>

        <div class="post-content">

          <ul class="category-list">
            <!-- This loops through the categories -->
            {% assign categories = site.categories | sort %}
            {% for category in categories %}
            <li class="category-list-item"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              <span id="{{ category[0] | slugify }}">{{ category[0] }}</span>

              <ul class="post-list">
                <!-- This loops through the posts in category -->
                {% for post in category[1] %}
                <li class="post-list-item"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br/>
                  <span class="post-meta"><time>{{ post.date | date: "%b %-d, %Y" }}</time>
                    {% if post.tags.size > 0 %}
                    {% assign tags_list = post.tags | sort: first %}
                    | Tagged {% include tags_list.html %}
                    {% endif %}
                  </span>
                </li>
                {% endfor %}
              </ul><!-- /.post-list -->

            </li>
            {% endfor %}
          </ul><!-- /.category-list -->

        </div>

      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.post -->

</div><!-- /.categories-main -->
