---
layout: default
title: Tags
permalink: /blog/tags/
---

<div class="tags-main tags-content">

  <div class="post">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <header class="post-header">
          <h1 class="post-title">Posts by tag</h1>
        </header>

        <div class="post-content">

          <ul class="tag-list">
            <!-- This loops through the tags -->
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
            <li class="tag-list-item"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
              <span id="{{ tag[0] | slugify }}">{{ tag[0] }}</span>

              <ul class="post-list">
                <!-- This loops through the posts in tag -->
                {% for post in tag[1] %}
                <li class="post-list-item"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br/>
                  <span class="post-meta"><time>{{ post.date | date: "%b %-d, %Y" }}</time>
                    {% if post.tags.size > 0 %}
                    {% assign tags_list = post.tags | sort: first %}
                    | Tagged {% include tags_list.html %}
                    {% endif %}
                  </span>
                </li>
                {% endfor %}
              </ul><!-- /.post-list -->

            </li>
            {% endfor %}
          </ul><!-- /.tag-list -->

        </div>

      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.post -->

</div><!-- /.tags-main -->
