---
layout: default
---
<div class="post">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      {% assign post = page %}
      <header class="post-header">
        <h1 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <p class="post-meta">Posted on <a href="{{ post.url | prepend: site.baseurl }}"><time>{{ post.date | date: "%b %-d, %Y" }}</time></a>
          {% if post.categories.size > 0 %}
          {% assign categories_list = post.categories | sort %}
          in {% include categories_list.html %}
          {% endif %}
          {% if post.tags.size > 0 %}
          {% assign tags_list = post.tags | sort %}
          | Tagged {% include tags_list.html %}
          {% endif %}
        </p>
      </header>

      <div class="post-content">
        {{ content }}
      </div>

    </div><!-- /.col-md-8 -->
  </div><!-- /.row -->
</div><!-- /.post -->
